th{
  text-align: center;
}
table tr td{
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-right: thin solid #000;
  border-left: thin solid #000;
  text-align:center;
  border-collapse:
}
td:empty{
  border-bottom: 1px solid #fff;
}
